*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFE6A7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("./wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    background-color: rgba(197, 197, 197, 0.637);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 30%;
}

.title{
    font-size: 1.2rem;
    color: #000;
}

.addContainer{
    margin: 10px;
    max-width: 450px;
    min-width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.insert{
    margin: 10px;
    width: 100%;
}

input{
    height: 25px;
    width: 80%;
    border: none;
    border-radius: 5px;
    text-align: center;
}

#addBtn, .saveTasks{
    height: 25px;
    width: 80%;
    background-color: rgb(16, 194, 0);
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.listContainer{
    width: 100%;
    word-break: break-all;
    text-align: center;
}

.itemDiv{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background: #fdfdfd00;
    font-weight: 500;
    padding: 10px;
    border: 2px solid #c7c6c648;
    text-align: center;
    
}


.buttons{
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin: 5px;
    padding: 5px;
    width: 100%;
}
.buttons button{
    width: 33%;
    height: 25px;
    border: none;
    border-radius: 50px;
    font-size: 0.9rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

button.checked{
    transition: .5s ease-in-out;
    background-color: rgb(16, 194, 0);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(197, 197, 197, 0.637);
    border-radius: 20px;
    max-width: 100%;
    min-width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    max-width: 100%;
    min-width: 70%;
}


#editInput{
    width: 100%;
}

form button {
    height: 25px;
    border: none;
    border-radius: 50px;
    font-size: 0.9rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
i{
    cursor: pointer;
    width: 100%;
}

#editBtn{
    width: 100%;
    background-color:rgb(16, 194, 0);
    border: none;
    border-radius: 5px;
    height: 35px;
    font-size: 1.2rem;
    cursor: pointer;
}

#editBtn i, #cancelBtn i {
    width: 100%;
}

#cancelBtn{
    width: 100%;
    background-color: rgba(255, 0, 0, 0.658);
    border: none;
    border-radius: 5px;
    height: 35px;
    font-size: 1.2rem;
    cursor: pointer;
}
.hide{
    display: none;
}
p{
    font-size: 1.2rem;
}

.fa-edit{
    width: 100%;
}

@media (max-width: 500px) {
    main{
        max-width: 80%;
    }
    #addInput{
        height: 40px;
    }
    #addBtn, .saveTasks{
        height: 35px;
    }
    p{
        font-size: 1.5rem;
    }
    section{
        max-width: 80%;
    }
    main{
        max-width: 80%;
    }
    form{
        gap: 15px;
    }
    form input{
        height: 40px;
        font-size: 1.2rem;
    }
    form h2{
        font-size: 1.3rem;
    }
}